In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('artist_sample.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'artist_sample.csv'

In [3]:
data = pd.read_csv('artist_data.csv', low_memory = False)

FileNotFoundError: [Errno 2] No such file or directory: 'artist_data.csv'

In [4]:
data

NameError: name 'data' is not defined

In [5]:
data = pd.read_csv('artwork_data.csv', low_memory = False)

In [6]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [7]:
data.filter(items=['id', 'artist'])

           id              artist
0        1035       Blake, Robert
1        1036       Blake, Robert
2        1037       Blake, Robert
3        1038       Blake, Robert
4        1039      Blake, William
...       ...                 ...
69196  122960  P-Orridge, Genesis
69197  122961  P-Orridge, Genesis
69198  121181        Hatoum, Mona
69199  112306       Creed, Martin
69200  127035   Brunias, Agostino

[69201 rows x 2 columns]

In [8]:
#shows dataframe with just those columns

In [9]:
data.filter(like='year')

       year
0       NaN
1       NaN
2      1785
3       NaN
4      1826
...     ...
69196  1975
69197  1976
69198  1996
69199  2000
69200  1764

[69201 rows x 1 columns]

In [10]:
data.filter(like='artist')

                   artist artistRole  artistId
0           Blake, Robert     artist        38
1           Blake, Robert     artist        38
2           Blake, Robert     artist        38
3           Blake, Robert     artist        38
4          Blake, William     artist        39
...                   ...        ...       ...
69196  P-Orridge, Genesis     artist     16646
69197  P-Orridge, Genesis     artist     16646
69198        Hatoum, Mona     artist      2365
69199       Creed, Martin     artist      2760
69200   Brunias, Agostino     artist      3824

[69201 rows x 3 columns]

In [11]:
fata.filter(like='year', like='Year')

SyntaxError: keyword argument repeated: like (3862249267.py, line 1)

In [12]:
fata.filter(like='year', 'Year')

SyntaxError: positional argument follows keyword argument (496647242.py, line 1)

In [13]:
data.filter(regex='(?i)year')

       year  acquisitionYear
0       NaN           1922.0
1       NaN           1922.0
2      1785           1922.0
3       NaN           1922.0
4      1826           1919.0
...     ...              ...
69196  1975           2013.0
69197  1976           2013.0
69198  1996           2013.0
69199  2000           2013.0
69200  1764           2013.0

[69201 rows x 2 columns]

In [14]:
#case insensitive 'year'

In [15]:
data.filter(axis=0, regex='^100.$')

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1000,14704,A01004,"Turner, Joseph Mallord William",artist,558,Hedging and Ditching,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 259 mm,184,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1001,14705,A01005,"Turner, Joseph Mallord William",artist,558,"Hedging and Ditching, engraved by J.C. Easling",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 186 x 262 mm,186,262,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1002,14706,A01006,"Turner, Joseph Mallord William",artist,558,River Wye,1812,Print on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 264 mm,183,264,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1003,14707,A01007,"Turner, Joseph Mallord William",artist,558,"River Wye, engraved by W. Annis",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 265 mm,184,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1004,14708,A01008,"Turner, Joseph Mallord William",artist,558,Chain of Alps from Grenoble to Chamberi,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 259 mm,178,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1005,14709,A01009,"Turner, Joseph Mallord William",artist,558,"Chain of Alps from Grenoble to Chamberi, engra...",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 261 mm,178,261,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1006,14710,A01010,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 253 mm,178,253,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1007,14711,A01011,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 179 x 257 mm,179,257,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1008,14712,A01012,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, Yorkshire",1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 182 x 265 mm,182,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1009,14713,A01013,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, engraved by Henry Dawe",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 266 mm,183,266,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...

In [16]:
data.filter(regex='^100(0|2|4|6|8)$', axis= 0)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1000,14704,A01004,"Turner, Joseph Mallord William",artist,558,Hedging and Ditching,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 259 mm,184,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1002,14706,A01006,"Turner, Joseph Mallord William",artist,558,River Wye,1812,Print on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 264 mm,183,264,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1004,14708,A01008,"Turner, Joseph Mallord William",artist,558,Chain of Alps from Grenoble to Chamberi,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 259 mm,178,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1006,14710,A01010,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 253 mm,178,253,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1008,14712,A01012,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, Yorkshire",1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 182 x 265 mm,182,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...

In [17]:
#axis = whatever your trying to filter as a column

In [18]:
#since it is zero that means the first column which
#happens to be the id

In [19]:
data.agg()

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [20]:
data.agg(['min', 'max'])

C:\Users\aerap\AppData\Local\Temp\ipykernel_17500\1146059490.py:1: FutureWarning: ['medium', 'creditLine', 'year', 'dimensions', 'width', 'height', 'units', 'inscription', 'thumbnailCopyright', 'thumbnailUrl'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  data.agg(['min', 'max'])

,id,accession_number,artist,artistRole,artistId,title,dateText,acquisitionYear,depth,url
min,3,A00001,?British School,after,0,! 1971,1545,1823.0,1.0,http://www.tate.org.uk/art/artworks/abakanowic...
max,129068,T13869,"Štyrský, Jindrich",style of,19232,“What is to be done?” 1984. Alternative Techno...,published c.1860,2013.0,18290.0,http://www.tate.org.uk/art/artworks/zyw-light-...

In [21]:
data.filter(regex='^100(0|2|4|6|8)$', axis= 1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[69201 rows x 0 columns]

In [22]:
data.filter(regex='^100(0|2|4|6|8)$', axis= 2)

ValueError: No axis named 2 for object type DataFrame

In [23]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...